body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}
.w3-row-padding img {margin-bottom: 12px}
/* Set the width of the sidebar to 120px */
.w3-sidebar {width: 120px;background: #558000;}
/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {margin-left: 120px}
h4{
	color: #ffcc66;
}

#testbg{
	background: url(images/jeanb.jpg) repeat-x center 0px;
	background-color: red;
}

h3{
	color: #99e600;
}

p{
	color: #fff;
}

p i{
	color: #86b300; 
}
#homepic img{
	
}

#abtme h3{
	padding: 20px;
}

#abtme p{
	margin: auto 20px;
}

header{text-align: left; border-bottom: 1px solid #ffcc66;}
/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {
	#main {margin-left: 0}
	#abtme{text-align: left; border-top: 1px solid #ffcc66;border-left: 0px solid #ffcc66;margin-top: 20px;}
#abtme p{
	margin: 0px;
}
#homepic img{
	
}

#main {margin-left: 20px}
}